<div style="background: #ddd;">
	<div class="container">
		<div class="row">
			<div class="col-md-3" style="padding-top: 15px; padding-bottom: 15px;">
				<%= link_to yield(:btntitle), yield(:link), class: "btn btn-sm btn-default", style: "background: #ddd;" %>
			</div>
		</div>
	</div>
</div>