<h1>&nbsp;</h1>
<table class="top-margin" style="width:100%;"><tr><td>
<p><%= link_to "Index", products_path, class: "btn btn-lg btn-danger", style: "width: 100%;" %></p>
<p><%= link_to "Add Product", new_product_path, class: "btn btn-lg btn-danger", style: "width: 100%;" %></p>
<p><%= link_to "Back", :back, class: "btn btn-lg btn-default", style: "width: 100%" %></p>
</td></tr></table>