<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">cinelist</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<p><strong>cinelist</strong> is your tool to set up your film equipment list by simply choosing product items from a huge and organized sortiment that you find at major rental houses.</p>
			</div>
			<div class="col-md-8">
				<ul class="list-unstyled list-inline pull-right">
					<li><%= link_to "home", root_url %></li>
					<li><%= link_to "contact", contact_path %></li>
				</ul>
			</div>
		</div>

	</div>
</footer>